body{
    background-color: antiquewhite;
}
.gameCanvas{
    background-color: aqua;
    width: 850px;
    height: 450px;
    margin: auto;
    margin-top: 100px;
    border: 1px solid black;
}